body {
    margin: 0;
    padding: 0;
}

.navbar, .navbar a, .navbar-text {
    color: white !important;
}

.navbar-default {
    border-radius: 0 !important;
    background-color: #0099ff !important;
}
